<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />

    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Travel">Travel</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Photography">Photography</a>
            <a asp-controller="Panel" asp-action="Index">Admin Panel</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Panel" asp-action="Edit">Create Post</a>
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign In</a>
            }
        </nav>
    </div>
    
    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
